<footer class="footer pt-3  ">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                    <h6 class="text-sm">
                        Made with <i class="fas fa-heart"></i> by <a href="https://github.com/Kyuubang">Kyuubang</a>
                    </h6>
                    <p class="text-xs">
                        Powered by
                        <a href="https://appseed.us/product/soft-ui-dashboard/django/" target="_blank">Soft UI Dashboard Django
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>